* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.box {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  background-color: #ccc;
  padding: 20px;
}

.img-box {
  border-bottom: 2px solid #fff;
}

.container {
  display: flex;
  margin-top: 40px;
}

@media (max-width: 770px) {
  .box {
    height: 100vh;
    background-color: #ccc;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  body {
    background-color: #ccc;
  }

  .container {
    padding-bottom: 20px;
    background-color: #ccc;
  }
}
